<div >
<input type="checkbox" id="check">
<nav class="navbar">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
</nav>
<div class="sidebar">
  <div class="logo">
      <img src="../../../assets/images/logo.png">
  </div>
      <ul *ngFor="let productCategory of productCategories">
        <li>
          <a routerLink="api/productcategories/{{productCategory.id}}/products"
          routerLinkActive="active-link"
          >{{productCategory.categoryName}}</a>
        </li>
      </ul>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
</div>
