<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
    <th>Product Image</th>
    <th>Product Detail</th>
    <th></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempCartItem of cartItems">
    <td>
      <img src="{{tempCartItem.imageUrl}}" class="img-responsive" width="150px">
    </td>

    <td>
      <p>{{tempCartItem.name}}</p>
      <p>{{tempCartItem.unitPrice | currency:'USD'}}</p>
    </td>

    <td>
      <label>Quantity</label>
      <div>
      <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i></button>
        {{tempCartItem.quantity}}
      <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm"><i class="fas fa-minus"></i></button>
      </div>
      <p class="mt-2">Subtotal:{{tempCartItem.quantity * tempCartItem.unitPrice| currency:"USD"}}</p>
    </td>

  </tr>
  <tr>
    <td colspan="2"></td>
    <td style="font-weight: bold"></td>
    <p>Total Quantity:{{totalQuantity}}</p>
    <p>Shipping:FREE</p>
    <p>Total Price:{{totalPrice | currency :'USD'}}</p>
  </tr>
</tbody>
</table>


